/*COLOR THEME: https://color.adobe.com/?????-Banner-color-theme-12137382*/
.root{
    -fx-background-color: #FFFFFF;
    -fx-mid-text-color: #303030;}

.btn{
    -fx-background-color : #204E5F;
    -fx-text-fill : #FFFFFF;
    -jfx-button-type: RAISED;
}

.btn-light{
    -fx-background-color : #FF8984;
    -fx-text-fill : #FFFFFF;
    -jfx-button-type: RAISED;
}

.btn-danger{
    -fx-background-color : #FF8984;
    -fx-text-fill : #FFFFFF;
    -jfx-button-type: RAISED;
}

.medium{
    -fx-background-color : #3944ff;
    -fx-text-fill : #FFFFFF;
    -jfx-button-type: RAISED;
}

.low{
    -fx-background-color : #3944ff;
    -fx-text-fill : #FFFFFF;

}

.jfx-slider > .track {
    -fx-background-color: blue;
}

.scroll-pane{
    -fx-background-color: transparent;
}

.panel.scroll-pane > .viewport, .panel {
    -fx-background-color: rgba(183, 215, 216, 0.7);
}

/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: #FFC6AB;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #FF8984;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #FF8984;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #FF8984;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}

.jfx-check-box {
     -jfx-checked-color: #FF8984;
     -jfx-unchecked-color: #B7D7D8;
}

/* Styling checkmark */
.jfx-check-box .mark{
     -fx-border-color: white;
}

/* label */
.label {
  -fx-text-fill: #204E5F;
}
