.root{
    -fx-background-color: #ffffff;
    -fx-mid-text-color: #303030;}

.high{
    -fx-background-color : #3944ff;
    -fx-text-fill : #FFFFFF;
    -jfx-button-type: RAISED;
}

.medium{
    -fx-background-color : #3944ff;
    -fx-text-fill : #FFFFFF;
    -jfx-button-type: RAISED;
}

.low{
    -fx-background-color : #3944ff;
    -fx-text-fill : #FFFFFF;

}

.console-panel{
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.jfx-slider > .track {
    -fx-background-color: blue;
}